body{
    margin: 0;
    padding: 0;
}

.base{
    position: fixed;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3c3c3c;
}

.fun{
    width: 25%;
    height: 100%;
    float: left;
    background-color: #3c3c3c;
}


    